@charset "utf-8";
@import "fns.css";
/*页面初始化*/
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #F0F2F5;

  font-size: 14px;
  color: rgba(0,0,0,.65);
}
a{text-decoration: none;}







