@charset "utf-8";
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.rela {
  position: relative;
}
.abso {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.clearfix::before,
.clearfix::after,
.clear,
.row::before,
.row::after {
  clear: both;
  content: ' ';
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.mb0 {
  margin-bottom: 0;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt0 {
  margin-top: 0;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.fontnum {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.logotop {
  height: 60px;
  line-height: 60px;
}
.borderBottom {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.borderRight {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.comTitle {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
/*页面初始化*/
* {
  outline: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  background: #F0F2F5;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
a {
  text-decoration: none;
  color: #409eff;
}
a:hover {
  color: #1890ff;
}
/*element-ui 样式修改 start*/
.el-form--inline .el-form-item {
  margin-bottom: 0px;
}
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  font-weight: 500;
}
.scrollbarLeftmenuWrap > .el-scrollbar__wrap {
  overflow-x: hidden;
}
.childPageBody .el-scrollbar__thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
.el-button.block {
  display: block;
  width: 100%;
}
.el-checkbox__label {
  padding-left: 5px;
}
/*element-ui 样式修改 end*/
